.imageText {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.75em;
    align-content: center;
    justify-content: flex-start;

    @media (screen and min-width: 980px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 3em;
    }

    div > p:last-child {
        margin-bottom: 0;
    }
}

.imageTextImage {
    width: 100%;
}

.imageTextImage__img {
    height: auto;
    width: 100%;
    max-width: 200px;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid var(--color-border);
}

.imageTextImageRounded {
    border-radius: 50%;
}

.imageTextImageLeft {
    flex-direction: row;
}

.imageTextImageRight {
    flex-direction: row-reverse;
}

.imageText__copy {
    flex: 2;
}
