.image {
    text-align: center;

    @media (screen and min-width: 980px) {

    }
}

.imageImage {
    height: auto;
    width: 100%;
    max-width: 800px;
    object-fit: contain;
}

.imageCaption {
    margin-top: 8px;
    color: var(--color-text-grey);
}
