body {
  --background: #ffffff;
  --background-alt: #f0f0f0;
  --background-paper: #FEC3EB;

  --color-white: #ffffff;
  --color-primary: #64983E;
  --color-secondary: #FFB031;
  --color-highlight: #C23092;
  --color-tertiary: #FFE1F5;

  --border-primary: #222;
  --border-primary-weight: 5px;
  --border-divider: var(--border-primary-weight) solid var(--border-primary);

  --font-family-heading: var(--font-courier-prime);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background: #e4e4e4;
  font-family: var(--font-outfit);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 10px;
}

@media screen and (min-width: 769px) {
  body {
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.grid {
  display: grid;
  gap: 2em;
}

@media screen and (min-width: 769px) {
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
