.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  background-color: var(--background);
  border: var(--border-primary-weight) solid var(--border-primary);
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.05em;

  @media screen and (min-width: 769px) {
    margin: 20px auto 60px;
    box-shadow: 20px 30px 0 var(--border-primary);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 769px) {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
}

.navigation {
  display: flex;
  gap: 2rem;
  align-self: center;
  align-items: center;
  justify-self: flex-end;
  list-style-type: none;
  font-size: 18px;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.navigationLink {
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;

  &:after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--color-highlight);
    transition: width ease 0.5s;
  }

  &:hover,
  &:active {
    color: var(--color-highlight);

    &:after {
      width: 100%;
    }
  }

  &:last-of-type {
    @media screen and (max-width: 768px) {
      flex: 1
    }
  }
}

.buttonPrimary {
  background: var(--color-white);
  color: var(--color-primary);
  font-weight: 700;
  gap: 8px;
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  box-shadow: 8px 8px 0 var(--color-primary);
  transition: all ease 0.5s;

  &:hover,
  &:active {
    color: var(--color-highlight);
    border-color: var(--color-highlight);
    box-shadow: 8px 8px 0 var(--color-highlight);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main ol,
.main ul {
  padding-left: 0;
  margin: 0;
  line-height: 1.5;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.mainInner {
  padding: 48px;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
          background 0.2s,
          color 0.2s,
          border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  padding: 16px 48px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.heading {
  letter-spacing: -0.05em;
  font-family: var(--font-family-heading);
}

.heading1 {
  font-size: 44px;

  @media screen and (min-width: 769px) {
    font-size: 56px;
  }
}

.heading2 {
  font-size: 32px;
  margin-bottom: 32px;

  @media screen and (min-width: 769px) {
    font-size: 38px;
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.portfolioItem {
  font-size: 16px;
  line-height: 1.6;
}

.portfolioItem strong {
  font-size: 17px;
}

.portfolioItem em {
  font-size: 14px;
}

.strapline {
  background-color: var(--color-secondary);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: var(--border-divider);
  width: 100%;
  font-size: 15px;
}

.decoBorderBottom {
  padding-bottom: 12px;
  border-bottom: var(--border-divider);
}

.decoBorderTop {
  padding-top: 12px;
  border-top: var(--border-divider);
}

.ribbons {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 32px !important;
  font-size: 18px;
  background-image: linear-gradient(
                  45deg,
                  #64983E 0%,
                  #64983E 20%,
                  #83C951 20%,
                  #83C951 40%,
                  #FFB031 40%,
                  #FFB031 60%,
                  #ff2f8e 60%,
                  #ff2f8e 80%,
                  #EC0277 80%,
                  #EC0277 100%
  );

  @media screen and (min-width: 769px) {
    font-size: 20px;
    padding: 48px !important;
  }
}

.ribbons li {
  background-color: #fff;
  padding: 32px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #000;
  align-content: center;
}
