.cards {
    background-image: linear-gradient(
                    -45deg,
                    #64983E 0%,
                    #64983E 20%,
                    #83C951 20%,
                    #83C951 40%,
                    #FFB031 40%,
                    #FFB031 60%,
                    #ff2f8e 60%,
                    #ff2f8e 80%,
                    #EC0277 80%,
                    #EC0277 100%
    );
    padding: 56px 48px;
}

.cards h2 {
    margin-bottom: 48px;
}
